body{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #fff;
    background: #2e354f;
    margin: 0;
}


h1{
    font-size: 36px;
    width: 620px;
    margin: 30px auto;
}

h2{
    margin-top: 0;
    font-size: 24px;
    color: #ef5839;
}

img{
    width:100%;
    
}

.container{
    background: #fff;
    color: black;
    padding: 25px 0;
}

.container-inside{
    width: 620px;
    margin: 0 auto;
}

.container2{
    width: 620px;
    margin: 0 auto;
    padding: 25px 0;
}

.button{
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    padding: 12px 40px;
}

.button:hover{
    background: gray;
}

.button:focus{
    background: yellow;
}

.contact-button{
    color: #fff;
    background: #ef5839;
}

.info-button{
    color:#2e354f;
    background: #fff;
    margin-left: 20px;
}

a{
    color: #ef5839;
}

a:hover{
    color: greenyellow;
}

a:focus {
    color: red;
}